*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Fredoka One', cursive;
    scroll-behavior: smooth;
}


a
{
    text-decoration: none;
}

@import "colors";

.notFound {
  background-color: $primary-900;
  width: 100%;
  height: 80vh;
  > main {
    background-color: $primary-900;
    color: $primary-white;
    height: 100%;
    max-width: 900px;
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
      display: flex;
      align-items: center;
      margin: 3rem;

      > svg {
        font-size: 4rem;
      }

      > h1 {
        text-transform: uppercase;
        align-items: center;
        font: 100 3rem "Roboto";
        margin: 0 1rem;
      }
    }

    > a {
      background-color: $primary-600;
      color: white;
      padding: 0.75rem 2rem;
      border-radius: 100px;
      margin: 3rem;
      text-align: center;
      font-size: 1.5rem;
    }
  }
}


.loader {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  >svg {
    font-size: 15rem;
    color: $primary-white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;


  }
  >div{
    font-size: 2rem;
  }
}